/*reset*/
html,
body {
  width: 100%;
  height: 100%;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
}

body,
input,
textarea,
select,
button,
table {
  font-family: "Malgun Gothic", Dotum, AppleGothic, sans-serif;
  font-size: 12px;
}

img,
fieldset {
  border: 0;
}

img {
  vertical-align: top;
}

table {
  border-collapse: collapse;
}

ul,
ol {
  list-style: none;
}

em,
address {
  font-style: normal;
}

a {
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

body {
  background-color: #f1f4f8;
}

#wrap {
}

header {
  position: relative;
  height: 90px;
  padding-top: 5px;
  box-sizing: border-box;
  background-color: #fde0cf;
}

header::after {
  content: "";
  display: block;
  clear: both;
}

header .header-logo {
  text-align: center;
  margin-bottom: 5px;
}

.search-movie {
  position: relative;
  display: block;
  margin: 0 15px;
  box-sizing: border-box;
}

.search-movie input[type="text"] {
  width: 100%;
  height: 35px;
  padding: 0 40px 0 10px;
  font-size: 1.2em;
  box-sizing: border-box;
  border: none;
}

.search-movie input[type="text"]:focus {
  outline: none;
}

.btn-reset {
  position: absolute;
  right: 10px;
  top: 25%;
  border-radius: 50%;
  background-color: #ccc;
  padding: 2px 6px;
  color: #fff;
  border: none;
}

.btn-reset::before {
  content: "X";
}

.btn-side {
  padding: 13px 17px;
  background-color: #fde0cf;
  border: none;
  cursor: pointer;
}

.btn-side:focus {
  outline: none;
}

.btn-side::before {
  content: "list";
}

.content-nav {
  background-color: #fff;
}

.content-nav .tabs {
  display: flex;
  justify-content: space-between;
}

.content-nav .tabs li {
  width: 50%;
  height: 45px;
  margin: 0 20px;
  box-sizing: border-box;
  font-size: 1.1em;
  line-height: 45px;
  font-weight: bold;
  text-align: center;
}

.search-result {
  margin-top: 20px;
  background-color: #fff;
}

.movie-title {
  height: 60px;
  padding-top: 7px;
  background-color: #b38974;
  text-align: center;
  box-sizing: border-box;
}

.movieNm {
  font-size: 1.7em;
  color: #fff;
}

.movieNmEn {
  font-size: 1.1em;
  color: #ddd;
}

.movie-detail {
  margin-top: 20px;
  padding: 0 0 20px 20px;
  font-size: 1.5em;
}

.movie-detail dl {
  line-height: 50px;
}

.movie-detail dt {
  color: #bbb;
}

.movie-detail dd {
  margin-left: 50px;
}

.movie-list {
  background-color: #fff;
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.movie-list .today {
  font-size: 1.5em;
}

.movie-list .today::before {
  content: "오늘의 영화 (";
}

.movie-list .today::after {
  content: ")";
}

.movie-list li {
  margin-top: 10px;
  height: 35px;
  font-size: 1.2em;
  border-bottom: 1px solid #eee;
}

.movie-rank {
  font-style: italic;
  margin-right: 15px;
  font-size: 1.4em;
}

.movie-date {
  float: right;
  line-height: 2.2;
  color: #ccc;
}

.actor-list ul {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  line-height: 50px;
  text-align: center;
}

.actor-list li {
  background-color: #fff1f4;
  margin-bottom: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

.selected {
  color: #b38974;
  border-bottom: 2px solid #b38974;
}

.blind {
  display: none;
}
